/*
.scBox {
    height: 100%;
    clear: both;
}
.scGroups {
    float: right;
    width: 33%;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}
.scUserlist {
    float: left;
    width: 66%;
}
 */
.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 4px;
}
.green {
    background-color: lightgreen;
}
thead.hidden {
    display:none;
}
.vcard, table#vcards {
    max-width: 660px;
}
.vcLeft {
    float: left;
    width: 200px;
}
.vcRight {
    float: right;
    width: 380px;
}
hr.clear {
    clear: both;
    border: 0px;
}
.vcName {
    margin-top: 5px;
}
.scGroup {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 0 5px;
    cursor: pointer;
}
.scGroup:hover {
    background-color: #ccc;
}

i.fa {
    margin-right: .5em;
    width: 1.4em;
    text-align: center;
}
i.fa-home {
    margin-right: 0em;
}

.tx-feuserlist .userlistuser {
    display:inline-block;
    background-color:#ffffff;
    float:left;
    margin:5px;
    border-radius:10px;
}

.tx-feuserlist .userlistuser .onlinestatus {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin:5px;
}

.tx-feuserlist .userlistuser .onlinestatus.online{
    background-color:green;
}
.tx-feuserlist .userlistuser .onlinestatus.offline{
    background-color:red;
}

.tx-feuserlist .userlistuser .username {
    margin:5px;
}